{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Create Account | Nikita Stationery</title>

    <link
        rel="stylesheet"
        href="{% static 'css/customer.css' %}"
    >

</head>


<body>


<div class="auth-container">

    <div class="auth-card">

        <h1>
            NIKITA STATIONERY
        </h1>

        <h2>
            Create Customer Account
        </h2>


        <form
            method="POST"
            action="{% url 'register' %}"
        >

            {% csrf_token %}


            {{ form.non_field_errors }}


            <p>

                {{ form.full_name.label_tag }}

                {{ form.full_name }}

                {{ form.full_name.errors }}

            </p>


            <p>

                {{ form.username.label_tag }}

                {{ form.username }}

                {{ form.username.errors }}

            </p>


            <p>

                {{ form.email.label_tag }}

                {{ form.email }}

                {{ form.email.errors }}

            </p>


            <p>

                {{ form.password.label_tag }}

                {{ form.password }}

                {{ form.password.errors }}

            </p>


            <p>

                {{ form.confirm_password.label_tag }}

                {{ form.confirm_password }}

                {{ form.confirm_password.errors }}

            </p>


            <button type="submit">
                Create Account
            </button>

        </form>


        <p>

            Already have an account?

            <a href="{% url 'login' %}">
                Login
            </a>

        </p>

    </div>

</div>


</body>

</html>